*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  /* cursor: pointer; */
}

li {
  list-style-type: none;
}

*::selection {
  background-color: #d85454;
  color: #eee;
}

.system-font {
  font-family: "Open Sans", sans-serif;
}

.amatic-font {
  font-family: "Amatic SC", sans-serif;
}

.inter-font {
  font-family: "Inter", sans-serif;
}

.clear-fix {
  clear: both;
}

.italic-font {
  font-style: italic;
}

.weight300-font {
  font-weight: 300;
}
.weight400-font {
  font-weight: 400;
}

.weight500-font {
  font-weight: 500;
}

.weight600-font {
  font-weight: 600;
}
.weight700-font {
  font-weight: 700;
}

.weight800-font {
  font-weight: 800;
}

.size14-font {
  font-size: 14px;
}

.size15-font {
  font-size: 15px;
}
.size16-font {
  font-size: 16px;
}
.size17-font {
  font-size: 17px;
}
.size19-font {
  font-size: 19px;
}
.size20-font {
  font-size: 20px;
}

.size24-font {
  font-size: 24px;
}

.size26-font {
  font-size: 26px;
}
.size30-font {
  font-size: 30px;
}
.size34-font {
  font-size: 34px;
}
.size40-font {
  font-size: 40px;
}
.size50-font {
  font-size: 50px;
}

.size70-font {
  font-size: 70px;
}

.color-black {
  color: #000;
}

.color-head {
  color: #212529;
}

.color-sub {
  color: #37373f;
}

.color-sub2 {
  color: #4f4f5a;
}
.color-sub3 {
  color: #7f7f90;
}
.color-sub4 {
  color: #7d7d7d;
}
.color-sub5 {
  color: #212529;
}

.color-red {
  color: #ce1212;
}

/* nav styling */
#nav {
  position: sticky;
  height: 100px;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 1px 1px 20px rgba(128, 128, 128, 0.463);
  z-index: 9999;
}

.nav-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 20px;
}

.nav-left {
  align-self: flex-start;
  position: relative;
  left: 60px;
}

.nav-left a::after {
  content: ".";
  color: #ce1212;
}

.nav-buttons {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

.nav-buttons a {
  position: relative;
}

.chefs,
.gallery,
.contact {
  color: #7f7f90;
  transition: color 0.3s;
  position: relative;
}

.chefs:hover,
.gallery:hover,
.contact:hover {
  color: #000;
}

.chefs::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #ce1212;
  position: absolute;
  bottom: -3px;
  transition: all 0.3s;
}

.chefs:hover::before {
  width: 45px;
}

.gallery::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #ce1212;
  position: absolute;
  bottom: -3px;
  transition: all 0.3s;
}

.gallery:hover::before {
  width: 56px;
}

.contact::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #ce1212;
  position: absolute;
  bottom: -3px;
  transition: all 0.3s;
}

.contact:hover::before {
  width: 63px;
}

.nav-buttons .home::before {
  content: "";
  width: 48px;
  height: 2px;
  background-color: #ce1212;
  position: absolute;
  bottom: -3px;
}

.nav-right {
  align-self: flex-start;
  position: relative;
  right: 60px;
  font-size: 30px;
  cursor: pointer;
}

/* home styling */
#home {
  width: 100%;
  background-color: #eee;
  height: 85vh;
  display: flex;
  justify-content: space-around;
}

#home .home-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding: 20px;
}

.home-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 20px;
}

.home-buttons a {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-btn {
  background-color: #ce1212;
  color: #fff;
  width: 150px;
  border-radius: 0px 100vh 100vh;
  transition: all 0.2s;
}

.book-btn:hover {
  background-color: #e61414;
}

.watch-btn {
  color: #000;
  width: 200px;
  transition: color 0.2s;
}

.watch-btn-icon i {
  color: #000;
  z-index: 1;
  position: relative;
  left: 5px;
  transition: color 0.2s;
}

.watch-btn-icon {
  width: 45px;
  height: 52px;
  border-radius: 50%;
  background-image: linear-gradient(
    to right,
    #ce1212 0 50%,
    transparent 50% 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-right: 0.3125rem;
  position: relative;
  margin-right: 20px;
}

.watch-btn-icon::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-35%, -50%);
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: inherit;
}

.watch-btn:hover {
  color: #ce1212;
}

.watch-btn:hover .watch-btn-icon i {
  color: #ce1212;
}

#home .home-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-img img {
  max-width: 100%;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

.home-img img:hover {
  animation: shake 1s infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* chefs styling */
#chefs {
  overflow: auto;
  padding-bottom: 40px;
  margin-top: 40px;
}

.chefs-head {
  padding: 10px;
  text-align: center;
}

#chefs .chefs-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 15px;
  padding: 20px;
  text-align: center;
}

.chef-item {
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: 25px;
  transition: transform 0.4s;
  position: relative;
}

.chef-item-social {
  background-color: #ffffff4d;
  width: 40px;
  height: 140px;
  position: absolute;
  top: 15px;
  right: 0;
  padding: 10px 0;
  transform: translateX(40px);
  transition: transform 0.3s 0.4s;
  border-radius: 4px;
}

.chef-item:hover .chef-item-social {
  transform: translateX(-10px);
}

.chef-item-social ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.chef-item-social ul li a i {
  color: #37373f66;
}

.chef-item:hover {
  transform: scale(1.05);
}

.chef-item-top img {
  width: 100%;
}

.chef-item-top::before {
  content: "";
  position: absolute;
  bottom: 190px;
  left: 0;
  background-image: url(../team-shape.svg);
  background-repeat: repeat-x;
  width: 100%;
  height: 60px;
}

.chef-item-buttom {
  margin-top: 18px;
  padding: 15px;
}

.chef-item-buttom h3 {
  margin: 10px 0;
}

/* gallery styling */
#gallery {
  background-color: #eee;
}

.gallery-container {
  width: 90%;
  margin: auto;
  padding: 40px;
}
.gallery-head {
  text-align: center;
  margin-bottom: 30px;
}

.gallery-images {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.gallery-images .column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.column .image {
  position: relative;
  overflow: hidden;
}
.column .image img {
  width: 100%;
  border: 4px solid #fff;
  transition: transform 0.4s;
}

.column .image .image-caption {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.59);
  color: #fff;
  transition: transform 0.3s;
  transform: translateY(100%);
  text-align: center;
}

.image-caption h2 {
  margin-bottom: 10px;
}

.column .image:hover .image-caption {
  transform: translateY(-100%);
}

.column .image:hover img {
  transform: scale(1.1);
}

/* contact styling */
.contact-container {
  width: 90%;
  margin: auto;
  padding: 40px;
}

.contact-head {
  text-align: center;
  margin-bottom: 30px;
}

.contact-info {
  display: flex;
  flex-flow: row wrap;
  padding: 20px 0;
  gap: 16px;
}

.contact-info div {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  padding: 15px;
}

.contact-info .icon {
  background-color: #ce1212;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.contact-info .caption {
  width: auto;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: baseline;
}

.form-container {
  margin: 0px auto 30px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  box-shadow: 0 0 1.875rem #00000014;
}

.form-container input::placeholder,
.form-container textarea::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

.name-email {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.subject {
  width: calc(96% + 18px);
  margin: 10px auto;
  display: flex;
  height: 40px;
}
.subject input {
  width: 100%;
}

.message {
  width: calc(96% + 18px);
  margin: 10px auto;
  display: flex;
}

.message textarea {
  width: 100%;
}

.form-container input,
textarea {
  padding: 15px;
  font-family: inherit;
  border: 2px solid #e8e3e3;
  color: #212529;
}

.send {
  display: flex;
  justify-content: center;
  align-items: center;
}

.send button {
  padding: 15px;
  background-color: #ce1212;
  color: #fff;
  border: none;
  border-radius: 30px;
  margin-top: 20px;
  width: 150px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.send button:hover {
  background-color: #e61414;
}

/* fotter styling */
#fotter {
  background-color: #020202;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
  padding: 30px;
}

.fotter-left {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  position: relative;
}

.fotter-left p {
  margin-top: 10px;
}

.fotter-left h3::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #585858;
  position: absolute;
  bottom: 44%;
  left: 0;
}

.fotter-left-head {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fotter-left-head h2::after {
  content: ".";
  color: #ce1212;
}

.fotter-left-head img {
  width: 40px;
  height: 40px;
}

.fotter-left h3 {
  text-align: center;
  margin: 20px 0;
}

.fotter-left ul {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.fotter-left ul li a {
  color: #fff;
}

.fotter-middle {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}

.fotter-middle-head p {
  margin: 10px 0;
}

.fotter-middle-input {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.fotter-middle-input input {
  width: 80%;
  height: 40px;
  padding: 8px;
}

.fotter-middle-input button {
  width: 20%;
  background-color: #ce1212;
  border: none;
  color: #fff;
  cursor: pointer;
}

.fotter-middle-links {
  margin-top: 10px;
}

.fotter-middle-links ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
  margin: 20px 0;
}

.fotter-middle-links ul li {
  width: 45%;
  height: 30px;
  display: flex;
  align-items: center;
  transition: all 0.4s;
  padding: 5px;
}

.fotter-middle-links ul li:hover {
  background-color: #222222;
  transform: translateX(10px);
}

.fotter-middle-links ul li a {
  color: #fff;
  margin-left: 5px;
}

.fotter-right {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  gap: 10px;
}

.fotter-right ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.fotter-right ul li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.fotter-right ul li i {
  color: #ce1212;
  font-size: 22px;
  font-weight: 900;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fotter-right ul li a {
  cursor: pointer;
  color: #fff;
}

/* #############*/
/* media query */
/* #############*/

@media (max-width: 990px) {
  #nav {
    display: flex;
    position: static;
    height: auto;
  }

  .nav-container {
    flex-flow: column wrap;
    position: relative;
  }

  .nav-buttons {
    flex-flow: column wrap;
    position: relative;
    left: 80px;
    padding: 10px;
    margin-top: 20px;
  }

  .nav-buttons a {
    margin: 10px 0px;
  }

  .nav-right {
    position: absolute;
    left: 338px;
    top: 48px;
  }

  #home {
    flex-flow: column nowrap;
    height: auto;
    text-align: center;
  }

  .home-caption {
    order: 1;
  }

  .home-buttons {
    margin: 30px auto;
    flex-flow: column wrap;
  }

  .gallery-images {
    flex-direction: column;
  }

  .contact-info {
    flex-direction: column;
    padding: 20px 0;
    gap: 16px;
  }

  .name-email {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 10px;
  }

  .subject {
    width: 100%;
  }

  .message {
    width: 100%;
  }

  .gallery-container {
    width: 100%;
    padding: 16px;
  }
  .contact-container {
    width: 100%;
    padding: 16px;
  }

  #fotter {
    flex-flow: row wrap;
    justify-content: center;
    padding: 30px 10px;
  }

  .fotter-middle {
    order: 1;
    margin-top: 20px;
  }

  .fotter-left h3::after {
    position: absolute;
    bottom: 20%;
    left: 0;
  }

  #fotter .fotter-left {
    order: -2;
  }

  #fotter .fotter-middle {
    order: -1;
  }

  .fotter-middle-input {
    flex-direction: column;
    gap: 10px;
  }

  .fotter-middle-input input {
    width: 100%;
  }
  .fotter-middle-input button {
    width: 100%;
    height: 40px;
  }
}
